@import './colors.scss';
$spaceamounts: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* For mobile phones: */
[class*="w-"] {
    width: 100%;
    float: left;
}

/* For all other devices */
@media only screen and (min-width: 992px) {
    @each $space in $spaceamounts {
        .w-#{$space} {
            width: #{percentage($space) / 100}
        }
    }
}
    
@each $space in $spaceamounts {
    .h-#{$space} {
        height: #{percentage($space) / 100}
    }
}

.m-20 {
    margin: 20px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hide-xs { display: none; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .hide-s { display: none; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .hide-m { display: none; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hide-l { display: none; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .hide-xl { display: none; }
}
